/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #ff6347;
}

.pizza-option {
    margin: 10px 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
}

button {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #04ff00;
}

#result {
    margin-top: 20px;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #666;
    font-size: 0.9em;
}
